html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --main-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #f5f4fa;
  --footer-color: #2f303a;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --main-title: #ffff;
}
body {
  margin: 0;
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.logo {
  font-family: Raleway, sans-serif;
  color: black;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.accent-logo {
  color: var(--accent-color);
}

.nav-link {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.contacts {
  padding: 0px;
  margin: 0px auto;

  height: 100px;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.contacts a {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-link {
  display: inline-block;
}
.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}
.hero {
  background-color: var(--footer-color);
  text-align: center;
}
.hero-title {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 696px;
  color: var(--main-title);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  display: inline-block;
  margin-bottom: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px transparent;
  font-family: inherit;
  color: var(--main-title);
  background-color: var(--accent-color);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.section-text {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list {
  margin: 0px;
  padding: 0px;
}
.list-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.list-text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
}
.no-padding {
  padding-top: 0px;
}
.subtitle {
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team {
  background-color: var(--background-color);
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.profession {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
}
.bottom {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.secondary {
  display: inline-block;
  margin-bottom: 20px;
}

.bottom .logo {
  color: var(--main-title);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.address {
  color: var(--main-title);
  margin-bottom: 9px;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
}
.list-footer {
  margin: 0px;

  padding-left: 0px;
}
.list-footer a {
  color: var(--footer-contacts);
  font-size: 14px;
  line-height: 1.71;
}
.list-item:first-child {
  display: inline-block;
  margin-bottom: 9px;
}

/* PORTFOLIO */
.examples .button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--main-text-color);
  background-color: var(--background-color);
}
.button.primary {
}
.button:hover {
  background-color: var(--accent-color);
  color: #ffff;
  cursor: pointer;
}
.portfolio a {
  color: var(--main-text-color);
}
.titles {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.description {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.8;
}
